body {
    font-family: 'Radio Canada', sans-serif;
    display: block;
    align-items: stretch;
    margin: 0px;
}

#part1 {
    color: red;
}

h1 {
    font-size: 50px;

    align-self: center;
    text-align: center;

    background-color: #236dc2;
    color: white;

    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0;
}

h2 {
    align-self: center;
    text-align: center;
    margin-top: 0;
    padding: 20px;
    font-size: 30px;
    color: white;
    text-decoration: underline;
    
}

p {
    
    align-self: center;
    text-align: center;
}

a {
    color: white;
}

ul {
    padding: 20px;
    display: flex;
    background-color: grey;
    margin-top: 0;
    margin-bottom: 0;
}

li {
    list-style-type: none;
    margin: auto;

}

nav {
    margin-bottom: 0;
}
main {
    margin-top: 0;
    background-color: #236dc2;
}